.status_badge {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 1px;
    margin-right: 3px;
}

.connected {
    background: #1e9a00;
}

.disconnected {
    background: #bd3644;
}